1. Innováció
    - Innovatív Ötlet/Termék
    - Innovatív Vállalkozás
    
2. PESTEL, Porter, SWOT
    - Külső és vagy belső környezetet elemzi
    
3. Marketing
    - 3P, 4P stb...
    - Inbound, Outbound, SAVE
    
4. Csapat
    - Összeállítás

5. Erőforrások

6. Pénzügy
    - Hitel, Pályázat, Üzleti angyalok, Kockázati tőke befektető
    
+Üzleti Modell vászon
+Üzleti Terv
+Stratégiák
+Együttműködések
+Társadalmasítás (Externáliák)

+USP
+MVP


Max 10 perc, kb. 10 dia, minden szempontot érinteni kell
